<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title><%= add_image_demo %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/normalize.css">
</head>

<body>
  <header class="overlay-header">
    <a id="close" href=""><button class="icon"><img src="../img/icon/close.svg" /></button></a>
    <button class="icon hidden back-caption"><img src="../img/icon/arrowPrevious.svg" /></button>
    <h1 class="header-suggestions"><%= suggestions_mode %></h1>
    <h1 class="header-caption hidden"><%= add_caption %></h1>
    <div class="header-loading hidden">
      <%= loading_image_preview %>
    </div>
    <button class="fake-dropdown-btn"><img src="../img/icon/edit.svg" /></button>
    <button class="icon primary disabled"><img src="../img/icon/next-white.svg" /></button>
  </header>

  <h2 id="title" class="articleTitle"></h2>
  <div id="article-container" class="mobilePageWrapper">
    <div id="text"></div>
    <div id="form-container"></div>
  </div>
  <div id="bottom-sheet" class="se-inspector se-inspector-pre">
    <div class="se-inspector-header"  onclick="handleToggleInspector()">
      <button class="icon"><img src="../img/icon/robot.svg" /></button>
      <h2><%= suggested_image_found %></h2>
      <button id="expand-collapse" class="icon"><img src="../img/icon/expand.svg" /></button>
    </div>
    <div class="se-inspector-content">
      <p id="suggestion_reason"></p>
      <div id="image-info-wrapper">
        <span id="openFullscreenImg">
          <div id="imageThumb" class="inspector-image"></div>
          <span><img src="../img/icon/fullScreen.svg" /></span>
        </span>
        <div class="inspector-imgMetadata">
          <a id="openFilepage" target="_blank"><div id="imgName"></div></a>
          <p id="imgDescription"></p>
          <span id="openPopUpModal"><%= read_more %></span>
        </div>
      </div>
    </div>
    <div class="se-inspector-question"><%= image_inspector_question %></div>
    <div class="se-inspector-actions">
      <button class="ooui-btn accept-button" onclick="handleImageSelection()"><img src="../img/icon/check.svg" />&nbsp;<%= image_inspector_yes %></button>
      <a id="no" class="flexgrow" href=""><button class="ooui-btn margin8left reject-button"><img src="../img/icon/close.svg" />&nbsp;<%= image_inspector_no %></button></a>
      <button id="skipButton" class="ooui-btn quiet-neutral"><%= image_inspector_skip %></button>
    </div>
  </div>

  <div id="ImageCaptionData_Drawer" class="drawer">
    <!-- Drawer content -->
    <div class="drawer-content">
      <span class="closeDrawer">&nbsp</span>
      <h4><img src="../img/icon/image.svg" /> <%= image_details %></h4>
      <div id="captionHelperInfo">
        <p style="color:#59545d"><%= image_details_caption_help %></p>
      </div>
    </div>
  </div>

  <div id="ImageDetails_Modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div id="imageDetails">
        <h4><%= image_details %></h4>
        <p><span class="metadataLabel"><%= image_metadata_filename %>&nbsp;&nbsp;</span><span id="imgName_repeat"></span></p>
        <p><span class="metadataLabel"><%= image_metadata_description %>&nbsp;&nbsp;</span><span id="imgDescription_repeat"></span></p>
        <p><span class="metadataLabel"><%= image_metadata_commons_caption %>&nbsp;&nbsp;</span><span id="imgCommonsCaption"></span></p>
        <p><span class="metadataLabel"><%= image_metadata_license %>&nbsp;&nbsp;</span><span id="imgLicense"></span></p>
        <p><span class="metadataLabel"><%= image_metadata_date %>&nbsp;&nbsp;</span><span id="imgDate"></span></p>
        <p><span class="metadataLabel"><%= image_metadata_author %>&nbsp;&nbsp;</span><span id="imgAuthor"></span></p>
        <p><span class="metadataLabel"><%= image_metadata_image_tags %>&nbsp;&nbsp;</span><span id="imgCommonsCategories"></span></p>
        <p id="suggestion_reason_repeat"></p>
      </div>
      <button class="closeModal"><%= close %></button>
    </div>
  </div>

  <div class="onboarding-overlay">
  </div>

  <div class="fullScreenImage hide" id="fullImageModal">
    <div class="overlay-header">
      <span class="closeFullscreenImg"><button class="icon"><img src="../img/icon/close-white.svg" /></button></span>
    </div>
    <span class="closeFullscreenImg"><div id="imgFile" class="fullScreenImage"></div></span>
  </div>

<!--start load reject as iframe -->
  <button id="noIframe">No-iframe</button>

  <div id="rejectContainer" class="hide">
    <iframe class="rejectIframe" src="reject.html"></iframe>
  </div>
<!--end load reject as iframe -->

  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
  </script>
  <script>
    /*
    // Pop-up drawer style
    // Get the drawer
    var drawer = document.getElementById("ImageCaptionData_Drawer");

    // Get the button that opens the drawer
    var drawerBtn = document.getElementById("openDrawer");

    // Get the <span> element that closes the drawer
    var span = document.getElementsByClassName("closeDrawer")[0];

    // When the user clicks on the button, open the drawer
    drawerBtn.onclick = function() {
      $('#ImageCaptionData_Drawer').addClass('showDrawer');
      $('.ButtonOverImage').addClass('ImgSelected');
      $('#captionHelperInfo').append(
        $('#imgName'),
        $('#imgDescription'),
        $('#imgCommonsCaption'),
        $('#imgDate'),
        $('#imgCommonsCategories'),
      );
    }

    // When the user clicks on <span> (x), close the drawer
    span.onclick = function() {
      $('#ImageCaptionData_Drawer').removeClass('showDrawer');
      $('.ButtonOverImage').removeClass('ImgSelected');
      $('#caption-input').focus();
    }

    // When the user clicks anywhere outside of the drawer, close it
    $(document).on('click', '.showDrawer', () => {
      $('#ImageCaptionData_Drawer').removeClass('showDrawer');
    });

    // Pop-up MODAL style
    // Get the modal
    var modal = document.getElementById("ImageDetails_Modal");

    // Get the button that opens the modal
    var moreBtn = document.getElementById("openPopUpModal");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("closeModal")[0];

    // When the user clicks on the button, open the modal

    moreBtn.onclick = function() {
      modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    */

    // fullscreen image modal
    // Get the modal
    var fullImageModal = document.getElementById("fullImageModal");

    // Get the button that opens the modal
    var openImgBtn = document.getElementById("openFullscreenImg");

    // Get the <span> element that closes the modal
    var closeImgBtn1 = document.getElementsByClassName("closeFullscreenImg")[0];
    var closeImgBtn2 = document.getElementsByClassName("closeFullscreenImg")[1];

    // When the user clicks on the button, open the modal

    openImgBtn.onclick = function() {
      $('#fullImageModal').removeClass('hide');
    }

    // When the user clicks on <span> (x), close the modal
    closeImgBtn1.onclick = function() {
      $('#fullImageModal').addClass('hide');
    }
    closeImgBtn2.onclick = function() {
      $('#fullImageModal').addClass('hide');
    }


  </script>
  <script src="js/data.js"></script>
  <script src="js/app.js"></script>
  <script src="../scripts/user-state.js"></script>
  <script src="../scripts/messages.js"></script>
  <script src="js/onboarding.js"></script>
  <script type="text/javascript">
    $(document).ready(() => {

      if (isBackFromPreview()) {
        location.href = `caption.html${window.location.hash}`;
      } else {
        animateClass('se-inspector');
      }
      

      $('.se-inspector-actions').on('click', '.accept-button', (e) => {
        setSuggestionAccepted();
      });

      $('.se-inspector-actions').on('click', '.reject-button', (e) => {
        setSuggestionRejected();
      });

      $('.back-caption').on('click', e => {
        hideCaptionInput();
      });

      if (hasSeenImageGuidance() && hasSeenCaptionGuidance()) {
        $('.onboarding-overlay').removeClass('show');
        return;
      }

      initializeOnboarding($('.onboarding-overlay'));
      if (hasSeenCaptionGuidance()) {
        $('.onboarding-overlay').removeClass('show');
      } else {
        setTimeout(() => {
          showOnboardingIndex(0);
        }, 1000);
      }
    });

    //open reject as noIframe
    var frame = document.getElementById("rejectContainer");
    var btnIframe = document.getElementById("noIframe");

    btnIframe.onclick = function() {
      $('#rejectContainer').removeClass('hide');
    }

  </script>

</body>
</html>
