<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title><%= add_image_demo %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/normalize.css">
</head>

<body>
  <header class="minerva-header">
    <button class="icon"><img src="../img/icon/menu.svg" /></button>
    <h1><%= wikipedia %><sup><%= prototype_a %></sup></h1>
    <img src="../img/icon/RHSminerva.svg" />
  </header>
  <h2  class="articleTitle"><%= placeholder_username %></h2>
  <div class="minervaTabContainer">
    <ul>
      <li class="selected"><%= tab_homepage %></li>
      <li><%= tab_user_page %></li>
      <li><%= tab_discussion %></li>
    </ul>
  </div>
  </div>

  <div id="article-container" class="mobilePageWrapper">
    <div id="startModule" class="homepageModulePreview">
        <img src="../img/icon/message.svg" />
        <span id="emailAddress" class="margin8left"><b><%= placeholder_email %></b>&nbsp;&nbsp; (<a id="confirm" class="destructive"><%= homepage_confirm_email %></a>)</span>
    </div>
    <a id="openSE" href=""><div id="seModule" class="homepageModulePreview">
        <div class="bannerTitle">
          <img src="../img/icon/SE-general.svg">
          <h4 class="margin8left"><%= homepage_se_get_started %></h4>
        </div>
        <p><%= homepage_se_description %></p>
      <button class="ooui-btn primary-progressive"><%= homepage_se_see_edits %></button>
     </div></a>
    <div id="impactModule" class="homepageModulePreview">
      <header><%= homepage_impact %></header>
      <div class="bannerTitle">
        <img src="../img/icon/hearticle.svg">
        <div><h4 class="margin8left"><%= homepage_impact_edits %></h4>
        <p class="margin8left"><%= homepage_impact_description %></p></div>
      </div>
      <footer><%= homepage_impact_footer %></footer>
    </div>
    <div id="mentorModule" class="homepageModulePreview">
      <header><%= homepage_mentor %></header>
      <span>
        <%= homepage_mentor_description %>
      </span>
      <div class="bannerTitle">
        <img src="../img/icon/mentor40x40.svg">
        <div><h4 class="margin8left"><%= homepage_mentor_placeholder %></h4>
        <p class="margin8left"><%= homepage_mentor_last_active %></p></div>
      </div>
    </div>
    <div id="helpModule" class="homepageModulePreview">
      <header><%= homepage_help %></header>
      <span>
        <%= homepage_help_description %>
      </span>
    </div>
  </div>


  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
  </script>
  <script src="js/data.js"></script>
  <script src="js/user-state.js"></script>
  <script src="js/app.js"></script>
  <script type="text/javascript">
    $(document).ready(() => {
      $('#openSE').on('click', () => {
        clearGuidancePrefs();
      });
    })
  </script>

</body>
</html>
