<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title><%= add_image_demo %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/normalize.css">
</head>

<body id="rejectContainer">
  <div class="rejectIframe">
    <h4><%= reject_question %></h4>
    <p><%= reject_description %></p>
    <div class="checkboxGroup">
      <input type="radio" class="ooui-radio" id="reason1" value="notRelevant" name="rejectreason">
      <label for="reason1"><%= reject_reason_relevance %></label>
      <input type="radio" class="ooui-radio" id="reason2" value="noInfo" name="rejectreason">
      <label for="reason2"><%= reject_reason_info %></label>
      <input type="radio" class="ooui-radio" id="reason3" value="offensive" name="rejectreason">
      <label for="reason3"><%= reject_reason_offensive %></label>
      <input type="radio" class="ooui-radio" id="reason4" value="lowQ" name="rejectreason">
      <label for="reason4"><%= reject_reason_quality %></label>
      <input type="radio" class="ooui-radio" id="reason5" value="dontKnow" name="rejectreason">
      <label for="reason5"><%= reject_reason_subject %></label>
      <input type="radio" class="ooui-radio" id="reason6" value="languageIncorrect" name="rejectreason">
      <label for="reason6"><%= reject_reason_language %></label>
      <input type="radio" class="ooui-radio" id="reason7" value="other" name="rejectreason">
      <label for="reason7"><%= reject_reason_other %></label>
    </div>
    <footer class="dialog_footer">
      <a id="back" href=""><button class=""><%= rejectA_cancel %></button></a>
      <a id="done" href=""><button class="primary-progressive"><%= rejectA_submit %></button></a>
    </footer>
  </div>

  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
  </script>
  <script src="../scripts/user-state.js"></script>
  <script src="js/data.js"></script>
  <script src="js/app.js"></script>

</body>
</html>
