/*Help page background elements*/
.dimcontent {
  opacity: .5;
}
 .wikitext-editor {
  font-family: monospace;
  line-height: 1.5em;
  font-size: 1em;
}

.ve-ce-paragraphNode {
    line-height: 1.5em;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    -webkit-font-variant-ligatures: contextual;
    font-variant-ligatures: contextual;
    font-weight: normal !important;
    margin: 0;
}

/* Help pane CTA styling */
#helpPaneCTA {
	display:block;
	position:fixed;
	z-index:9999;
	bottom:0;
	right:0;
  margin:1em 1em 2em;
  padding: 0;
  cursor:pointer;
  z-index:1;
}

#helpPaneCTA .helpPaneCTAbtn {
  background-color:#36c;
	padding:.75em 1em .75em 3em;
  margin: 0;
	border-radius:1.5em;
	font-size:.875em;
  line-height: 1em;
	color:#fff;
	font-weight:bolder;
	font-family: Helvetica, Arial, sans-serif;
  box-shadow:0px 1px 2px rgba(0,0,0,.5);
}

#helpPaneCTA .helpPaneCTAbtn span:before {
  content: "";
  position: absolute;
  top: .5em;
  left: 1em;
  bottom:0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EIcon-AskQuestion%3C/title%3E%3Cdefs%3E%3Cpath d='M38 14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H24l-4 4V16a2 2 0 0 1 2-2h16zm-7.962 2.605a3 3 0 0 0-.33 0 2.826 2.826 0 0 0-2.706 2.934h1.524v-.102a1.38 1.38 0 0 1 1.428-1.332h.102a1.26 1.26 0 0 1 1.248 1.284c0 .708-.27 1.086-1.074 1.626a2.304 2.304 0 0 0-1.2 2.304v.486h1.506v-.408c0-.708.24-1.074 1.092-1.626a2.754 2.754 0 0 0 1.374-2.448c0-1.584-1.2-2.718-2.964-2.718zm-1.236 9.6a1.128 1.128 0 0 0 1.2 1.2 1.122 1.122 0 0 0 1.2-1.2 1.122 1.122 0 0 0-1.2-1.2h-.138c-.624.038-1.1.575-1.062 1.2z' id='a'/%3E%3C/defs%3E%3Cg transform='translate(-20 -14)' fill='none' fill-rule='evenodd'%3E%3Cuse fill='%23FFF' xlink:href='%23a'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
  width: 20px;
  height: 20px;
}

.helpPaneCTAAnimateIn {
  animation-duration: 800ms;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    bottom:-3em;
    opacity:.5;
  }
  20% {
  bottom:-3em;
  opacity:.5;
  }
  70% {
	bottom:0.25em;
  opacity:.9;
  }
  to {
	bottom:0;
  opacity:1;
  }
}

/*Help PANE styling*/
#helpPane {
  transition: transform .8s cubic-bezier(0.42, 0, 0.15, 1.4);
  position: fixed;
  margin: 1em;
  right: 0;
  bottom:0;
  width: 22.5em;
/*oo-ui-popup basic styling*/
  background-color: #fff;
  max-width: 22.5em;
  min-width: 16em;
  border: 1px solid #c8ccd1;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
  border-radius: 2px;
  min-height: 28em;
  max-height: 36em;
}

/*
#helpPane .helpPane-inner {
  background-color: #fff;
  max-width: 22.5em;
  min-width: 16em;
  border: 1px solid #c8ccd1;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
  border-radius: 2px;

  float: right;
  position: relative;
  width: 22.5em;
}
*/

.showHPane {
  opacity:1;
  bottom: 0;
  z-index:10;
  animation-duration: 400ms;
  animation-name: slidePane;
}

@keyframes slidePane {
  from {
    bottom:-2em;
    opacity:0;
  }
  to {
	bottom:0;
  opacity:1;
  }
}

.hideHPane {
  bottom: -2em;
  opacity:0;
  display: none;
  z-index:0;
}

.hideCTA {
  display:none;
  opacity:0;
}




/* START toggle help pane contents*/
.showHP-step {
  opacity:1;
  z-index:10;
  animation-duration: 200ms;
  animation-name: fadeHPstep;
}

@keyframes fadeHPstep {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}

.hideHP-step {
  opacity:0;
  display: none;
  z-index:0;
}

/* END toggle help pane contents*/


.helpPane-close {
  display:inline-block;
  position:absolute;
  width:20px;
  height:20px;
  right:1em;
  top:.75em;
  opacity:.5;
  cursor: pointer;
  z-index: 100; /*ensures it is on top of help pane contents */
}

.oo-ui-iconElement-icon {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
}

.oo-ui-icon-close {
      background-image: url(https://doc.wikimedia.org/oojs-ui/master/demos/dist/themes/wikimediaui/images/icons/close.png');
    background-image: linear-gradient(transparent, transparent), /* @embed */ url('https://doc.wikimedia.org/oojs-ui/master/demos/dist/themes/wikimediaui/images/icons/close.svg');
}

.helpPane-contents {
  max-height: 36em;
  min-height: 28em;
  overflow: scroll;
}

#helpPaneHead {
  height:2em;
  background-color:#EAF3FF;
  margin:0;
  padding:1em 1em 0 3em;
  position:absolute;
  width: 18.5em;
}

#helpPaneHead + div {
  padding-top:4em;
}

.stickyformbtns {
  padding: 1em 1em 0.5em;
  height: 2em;
  width: 22.5em;
  margin: 1em -1em 0em -1em;
  border-top: solid 1px #c8ccd1;
}

#helpPane h3 {
  font-size: .875em;
	font-family: Helvetica, Arial, sans-serif;
  margin:0;
  padding:0 0 .5em;
	color:#54595D;
	font-weight: bold;
	line-height: 1;
}

#helpPaneHead h3:before {
  content: "";
  position: absolute;
  top: 1em;
  left: 1em;
  bottom:0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EIcon-AskQuestion%3C/title%3E%3Cdefs%3E%3Cpath d='M38 14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H24l-4 4V16a2 2 0 0 1 2-2h16zm-7.962 2.605a3 3 0 0 0-.33 0 2.826 2.826 0 0 0-2.706 2.934h1.524v-.102a1.38 1.38 0 0 1 1.428-1.332h.102a1.26 1.26 0 0 1 1.248 1.284c0 .708-.27 1.086-1.074 1.626a2.304 2.304 0 0 0-1.2 2.304v.486h1.506v-.408c0-.708.24-1.074 1.092-1.626a2.754 2.754 0 0 0 1.374-2.448c0-1.584-1.2-2.718-2.964-2.718zm-1.236 9.6a1.128 1.128 0 0 0 1.2 1.2 1.122 1.122 0 0 0 1.2-1.2 1.122 1.122 0 0 0-1.2-1.2h-.138c-.624.038-1.1.575-1.062 1.2z' id='a'/%3E%3C/defs%3E%3Cg transform='translate(-20 -14)' fill='none' fill-rule='evenodd'%3E%3Cuse fill='%2326c' xlink:href='%23a'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
  width: 20px;
  height: 20px;
}
#helpPane p, li {
font-size: .875em;
padding: 0 0 .25em 0;
margin:0;
line-height: 1.5;
color:#222;
}

#helpPane-searchBar {
  padding:1em 0;
  margin:0 1em;
  border-bottom: solid 1px #c8ccd1;
}

#helpPane-main {
  padding:1em 0;
  margin:0 1em;
}

#helpPane ul{
	margin: 0;
	padding:0 0 0 2em;
}

#helpPane ul li {
	padding-top: .5em;
}

#helpPane-askQ {
  border-top: solid 1px #c8ccd1;
  padding:1em 1em 0;
}

#helpPane-askQflow {
  border: none;
  padding:0em 1em;
}

.askQinput {
  padding-bottom: 1em;
  display: block;
  font-size: .875em;
}

.assistivetext {
  font-size: .875em;
  color: #54595D;
  display: block;
  margin-top:-.5em;
  padding-bottom:1em;
}

.successmsg {
  font-size: 1.125em;
  padding: 0.25em 0 1em 2em;
  display: block;
  position: relative;
  margin-top:.5em;
}
.successmsg:before {
  content: "";
  position: absolute;
  top: 0em;
  left: 0em;
  bottom:0;
  background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='UTF-8'?%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='%2314866d'%3E%3Ctitle%3E check %3C/title%3E%3Cpath d='M7 14.17L2.83 10l-1.41 1.41L7 17 19 5l-1.41-1.42L7 14.17z'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
  width: 20px;
  height: 20px;
}

#hp-step3 #helpPane-main ul{
  list-style-type:none;
  padding:0;
  margin-bottom:6em;
  margin-top:1em;
}

/* Wikipedia page chrome */
body {
  background-color: #f6f6f6;
  font-family: sans-serif;
  margin:0;
}

a, a:active, a:link {
	color:#36c;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

.mw-body {
    margin-left: 11em;
    border: 1px solid #a7d7f9;
    border-right-width: 0;
    margin-top: 80px;
    padding: 1.5em;
    background-color: #ffffff;
    color: #222222;
    direction: ltr;
    display: block;
  }

#mw-navigation {
  position: inherit;
  display: block;
}

#mw-head {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 50%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 50%, rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 50%, rgba(246,246,246,1) 100%);; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

#p-personal {
    position: absolute;
    top: 0.33em;
    right: 0.75em;
    z-index: 100;
}
#p-personal h3
{
  color:#f0f;
  font-size:.75em;
}

#left-navigation {
  float: left;
  position: absolute;
  margin-left: 9.4em;
  margin-top: 2.5em;
  background: none;
}

.vectorTabs {
float: left;
height: 2.5em;
background-position: bottom left;
background-repeat: no-repeat;
margin-left: 1.6em;
}

.vectorTabs ul {
    float: left;
    height: 100%;
    list-style: none none;
    margin: 0;
    padding: 0;
    border-left:solid 1px #a7d7f9;
}

.vectorTabs ul li {
    float: left;
    line-height: 1.125em;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    background-position: bottom left;
    background-repeat: repeat-x;
    white-space: nowrap;
    border-right: solid 1px #a7d7f9;
    background: -moz-linear-gradient(top, #fafafa 50%, #E8F2F8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fafafa 50%, #E8F2F8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fafafa 50%, #E8F2F8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#E8F2F8',GradientType=0 ); /* IE6-9 */
}

.vectorTabs li {
    display: block;
    height: 1.9em;
    cursor: pointer;
    font-size: 0.8125em;
    color: #0645ad;
}

.vectorTabs li.selected {
    background: #ffffff;
    border-bottom: solid 1px #ffffff;
    color: #222;
}

.vectorTabs span {
  float: left;
  display: block;
background-position: bottom right;
background-repeat: no-repeat;
height: 100%;
position: relative;
padding-top: 1.25em;
padding-left: 0.615em;
padding-right: 0.615em;
}

#right-navigation {
  float: right;
  margin-left: 10em;
  margin-top: 2.5em;
}

h3.nav-dropdown {
      font-size: 0.8125em;
      font-weight: normal;
      color: #444;
      padding: 0;
      float: left;
    }
h3.nav-dropdown span {
  padding-right: 2em;
}

h3.nav-dropdown span:after {
    content: '';
    position: absolute;
    top: 0em;
    right: .75em;
    bottom: .75em;
    left: 0;
    background-image: url('https://en.wikipedia.org/w/skins/Vector/images/arrow-down.png?42edd');
    background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%221…035 3.86-3.947-3.86L1.05 3.996l5 5 5-5%22 fill=%22%23222%22/%3E %3C/svg%3E);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    opacity: 0.85;
}

#p-search{
  float: left;
  margin-right: 1em;
}
#simpleSearch {
    background-color: #fff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAQCAIAAABY/YLgAAAAJUlEQVQIHQXBsQEAAAjDoND/73UWdnerhmHVsDQZJrNWVg3Dqge6bgMe6bejNAAAAABJRU5ErkJggg==);
    background-image: url(/w/skins/Vector/images/search-fade.png?50f7b)!ie;
    background-position: top left;
    background-repeat: repeat-x;
    color: #000;
    display: block;
    width: 12.6em;
    width: 20vw;
    min-width: 5em;
    max-width: 20em;
    padding-right: 1.4em;
    height: 1.4em;
    margin-top: 0.65em;
    position: relative;
    min-height: 1px;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    -webkit-transition: border-color 250ms;
    -moz-transition: border-color 250ms;
    transition: border-color 250ms;
}

#simpleSearch #searchInput {
    width: 100%;
    padding: 0.2em 0 0.2em 0.2em;
    font-size: 0.8125em;
    direction: ltr;
    -webkit-appearance: textfield;
}

#simpleSearch input {
    background-color: transparent;
    color: #000;
    margin: 0;
    padding: 0;
    border: 0;
}

#simpleSearch #searchButton {
    background-image: url('https://en.wikipedia.org/w/skins/Vector/images/search-ltr.png?39f97');
    background-image: linear-gradient(transparent,transparent),url(data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%221…4%22/%3E %3Ccircle cx=%225%22 cy=%225%22 r=%224%22/%3E %3C/g%3E %3C/svg%3E);
    background-position: center center;
    background-repeat: no-repeat;
}

#simpleSearch #searchButton, #simpleSearch #mw-searchButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.65em;
    height: 100%;
    cursor: pointer;
    text-indent: -99999px;
    direction: ltr;
    white-space: nowrap;
    overflow: hidden;
}

#mw-panel {
    font-size: inherit;
    position: absolute;
    top: 0;
    width: 10em;
    left: 0;
  }

.footer {
  margin-left: 10em;
  margin-top: 0;
  padding: 0.75em;
  direction: ltr;
}


.mw-body h1, .mw-body-content h1, .mw-body-content h2 {
font-family: 'Linux Libertine','Georgia','Times',serif;
    line-height: 1.3;
    margin-bottom: 0.25em;
    padding: 0;
}

.mw-body h1, .mw-body-content h1 {
    font-size: 1.8em;
}


/* Global and Vector styles */


h1, h2, h3, h4, h5, h6 {
    color: #000;
    background: none;
    margin: 0;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
}
h1, h2{
    font-weight:normal;
    border-bottom: 1px solid #a2a9b1;
}

button {
	border:none;
	margin:0;
	padding:0;
}


/*OOUI styling*/
.oo-ui-icon-search {
background-image: url(../images/search.png);
background-image: linear-gradient(transparent, transparent), /* @embed */ url(../../OOUI/node_modules/oojs-ui/demos/dist/themes/wikimediaui/images/icons/search.svg);
}

.searchFAQ .oo-ui-icon-search {
	opacity: .4;
	top:.5em;
}

.oo-ui-image-invert.oo-ui-icon-check {
    background-image: url(../images/check-invert.png);
    background-image: linear-gradient(transparent, transparent), /* @embed */ url(../../OOUI/node_modules/oojs-ui/demos/dist/themes/wikimediaui/images/icons/check-invert.svg);
}
.oo-ui-icon-check {
    background-image: url(../images/check.png);
    background-image: linear-gradient(transparent, transparent), /* @embed */ url(../../OOUI/node_modules/oojs-ui/demos/dist/themes/wikimediaui/images/icons/check.svg);
}
