.ax_default {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.image {
}
.placeholder {
}
.button {
}
.heading_1 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.text_link {
  font-family:'Arial', 'Roboto', 'sans-serif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#3366CC;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.flow_shape {
}
.line {
}
.connector {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.checkbox {
  font-family:'Arial', 'Roboto', 'sans-serif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#202122;
  text-align:left;
  line-height:20px;
}
.radio_button {
  font-family:'Arial', 'Roboto', 'sans-serif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#202122;
  text-align:left;
  line-height:22px;
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.suggested_add_link_yellow_highlight {
  font-family:'Arial', 'Roboto', 'sans-serif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:26px;
}
.suggested_add_link_blue_highlight {
  font-family:'Arial', 'Roboto', 'sans-serif';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#202122;
  text-align:left;
  line-height:26px;
}
.hatnote {
  font-family:'Arial', 'Roboto', 'sans-serif';
  font-weight:400;
  font-style:normal;
  color:#54595D;
  text-align:left;
  line-height:20px;
}
.suggested-link-as-text {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#202122;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.suggested-link-as-link {
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#3366CC;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.reference_link {
  font-family:'Arial', 'Roboto', 'sans-serif';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  letter-spacing:normal;
  color:#3366CC;
  vertical-align:super;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.reject_reason_link {
  font-family:'Arial', 'Roboto', 'sans-serif';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#3366CC;
  text-align:left;
}
textarea, select, input, button { outline: none; }
