body {
    font-family: "Avenir Next", "Helvetica Neue", sans-serif;
    background-color: #EEF2F8;
}
@media (min-width: 1200px) {
    .container { width: 900px;}
}


.topBar {
    background: #4A90E2;
    color: #fff;
    border: none;
    margin-bottom: 0px;
}

.navbar-brand .logo {
    height: 32px;
    width: 30px;
    display: inline-block;
    background-image: url('images/wikipedia-suggestions.svg');
    background-repeat: no-repeat;
    float: left;
    margin-top: -3px;
    margin-right: 7px;
    
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a{
    color: #fff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover{
    color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: rgba(0,0,0,0.1);
    color: #fff;
}

.not-recommended{
    display:none;
}


.col-main {
    background: #fff;
    border-left: 4px solid #EEF2F8;
    padding: 0px;
}

.col-intro {
    border-bottom: 1px solid #ddd;
}
.col-intro .container {
    padding: 20px;
    text-align: center;
}
.col-intro  h1 {
    font-weight: 200;
}
.col-intro .page-desc {
    color: #999;
}

.col-sidebar {
    background: #fff;
    padding: 15px;
}


.wiki-header {
    background-color: #347bff;
    color:#fff;
    padding: 15px 0px;
}

.brand-title {
    margin: 0;
}

.brand-subtitle {
    opacity: 0.5;
}

.category-switcher {
    padding: 15px 0px;
    
}

.nav-pills.category-pills li {
    float: none;
}



.category-pills li a{
    color: #555;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
    padding-left: 50px;
}

.category-pills li a:after {
    content: " ";
    background-image: url('images/all.svg');
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    left: 5px;
    top: 5px;
    display: block;
    position: absolute;
    background-position: 50%;
}

.category-pills li.Science a:after {
    background-image: url('images/science.svg');
}
.category-pills li.Art a:after {
    background-image: url('images/art.svg');
}
.category-pills li.History a:after {
    background-image: url('images/history.svg');
}
.category-pills li.Medicine a:after {
    background-image: url('images/medicine.svg');
}
.category-pills li.All a:after {
    background-image: url('images/all.svg');
}
.category-pills li.Everyday a:after {
    background-image: url('images/everyday.svg');
}
.category-pills li.Geography a:after {
    background-image: url('images/geo.svg');
}
.category-pills li.Mathematics a:after {
    background-image: url('images/math.svg');
}
.category-pills li.Philosophy a:after {
    background-image: url('images/philosophy.svg');
}
.category-pills li.People a:after {
    background-image: url('images/people.svg');
}
.category-pills li.Society a:after {
    background-image: url('images/society.svg');
}



.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover,
.category-pills li.active a{
    background: #EAF3FF;
    color: #000;
}

.article-card {
    padding: 15px;
    overflow: hidden;
    background: #fff;
    position: relative;
    border-bottom: 1px solid #eee;
    
    
}
.article-card:hover {

}

.article-card .caption {
 
}

.article-card .display-image {
    overflow: hidden;
    height: 130px;
    background: #f5f5f5;
    background-size: cover;
    background-position: 50% 30%;
    border-radius: 2px;
     box-shadow: inset 0px 0px 1px rgba(0,0,0,0.2);
    background-image: url('images/placeholder.svg')
    
}

.article-card h3 {
    width: 100%;
    font-size: 21px;
    font-family: "Hoefler Text", georgia, serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    margin:5px 0px;
}

.article-card .metadata {
    margin-bottom: 10px;
    padding-bottom: 10px;
    
}

.article-card .indicator {
    height: 10px;
    width: 10px;
    display: inline-block;
    float: left;
    margin-right: 3px;
    margin-top: 3px;
    border: 1px solid #eee;
    border-radius: 10px;
}

.article-card .quality {
    margin-top: 10px;
    margin-left: 2px;
}

.article-card .quality.A .indicator.one,
.article-card .quality.A .indicator.two,
.article-card .quality.A .indicator.three,
.article-card .quality.FA .indicator.one,
.article-card .quality.FA .indicator.two,
.article-card .quality.FA .indicator.three,
.article-card .quality.GA .indicator.one,
.article-card .quality.GA .indicator.two,
.article-card .quality.GA .indicator.three
{
    background: #8ADA65;
    border-color: #8ADA65;
}

.article-card .quality.B .indicator.one,
.article-card .quality.B .indicator.two
{
    background-color: #F5A623;
    border-color: #F5A623;
}
.article-card .quality.B .indicator.three {
    border-color: #F5A623;
}

.article-card .quality.C .indicator.one,
.article-card .quality.Start .indicator.one
{
    background-color: #F56223;
    border-color: #F56223 ;
}

.article-card .quality.C .indicator.two,
.article-card .quality.C .indicator.three,
.article-card .quality.Start .indicator.two,
.article-card .quality.Start .indicator.three {
    border-color: #F56223 ;
}



.article-card .editButton {
float: right;
    background: #4A90E2;
    border-color: #4A90E2;
    color: #fff;
}

.article-card .editButton:active {
    background: #36c;
    border-color: #36c;
    color: #fff;
}

.searchArticle {
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.searchArticle #search_text{
    border: none;
    box-shadow: none;
    -webkit-appearance:none;
    -moz-appearance:none;
}

.article-card .quality {
text-align: right;
}



.article-card .missingTopics 
{
    line-height: 30px;
}

.featuredTag {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 40px 0 0;
    border-color: #007bff transparent transparent transparent;
    top:0; left: 0;
}

.featuredTag:after {
    content: "★";
    color:#fff;
    font-size: 13px;
    position: absolute;
    display: inline-block;
    top:-35px; left: 6px;
}

.bottomBar {
    margin-top: 30px;
    
}


/* modal window */

#mainFrame {
    border: none;
}
.modal-header {
    text-align: center;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 1000px;
        
    }   
    .modal-body {
        height: 500px;
        padding: 0px;
    }
}

