/*Page background elements*/
#content{
  margin:40px;
}

.dimcontent {
  opacity: .5;
}

/* Dialog CTA styling */
.topics-CTA {
  background-color:#36c;
	padding:12px 16px 12px;
  margin: 0;
	border-radius:2px;
	font-size:14px;
  line-height: 16px;
	color:#fff;
	font-weight:bolder;
	font-family: Helvetica, Arial, sans-serif;
  box-shadow:0px 1px 2px rgba(0,0,0,.5);
}

/*Dialog styling*/
#dialog {
  transition: transform .8s cubic-bezier(0.42, 0, 0.15, 1.4);
  position: absolute;
  margin: 1em;
  left: calc(50% - 320px);
  top:calc(50% - 260px);
  width: 640px;
/*oo-ui-popup basic styling*/
  background-color: #fff;
  max-width: 640px;
  border: 1px solid #c8ccd1;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.25);
  border-radius: 2px;
  height: 520px;
  max-height: 520px;
}

.showDialog {
  opacity:1;
  bottom: 0;
  z-index:10;
  animation-duration: 400ms;
  animation-name: slidePane;
}

@keyframes slidePane {
  from {
    bottom:-2em;
    opacity:0;
  }
  to {
	bottom:0;
  opacity:1;
  }
}

.hideDialog{
  bottom: -2em;
  opacity:0;
  display: none;
  z-index:0;
}

/* END toggle dialog contents*/

.dialog-close {
  display:inline-block;
  position:absolute;
  width:20px;
  height:20px;
  left:1em;
  top:.75em;
  opacity:.5;
  cursor: pointer;
  z-index: 100; /*ensures it is on top of dialog contents */
}

.dialog-done {
  display:inline-block;
  position:absolute;
  height:40px;
  right:0;
  top:0;
  color:#fff;
  background-color: #36c;
  border-radius: 0 2px 0 0;
  cursor: pointer;
  z-index: 100; /*ensures it is on top of dialog contents */
}

.dialog-done button{
  color: white;
  background-color: transparent;
  color: white;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  padding: 0 8px;
}

.oo-ui-iconElement-icon {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
}

.oo-ui-icon-close {
      background-image: url('https://doc.wikimedia.org/oojs-ui/master/demos/dist/themes/wikimediaui/images/icons/close.png');
    background-image: linear-gradient(transparent, transparent), /* @embed */ url('https://doc.wikimedia.org/oojs-ui/master/demos/dist/themes/wikimediaui/images/icons/close.svg');
}

.dialog-contents {
  max-height: 520px;
  min-height: 520px;
  overflow: scroll;
}

#dialogHead {
  height:26px;
  background-color:#fff;
  margin:0;
  padding:14PX 0 0 ;
  position:absolute;
  width: 640px;
  border-bottom: solid 1px #c8ccd1;
  z-index: 99;
}

#dialogHead + div {
  padding-top:4em;  /*adds 4em between top of dialog top and header*/
}

#dialog h3 {
  text-align: center;
  font-size: .875em;
	font-family: Helvetica, Arial, sans-serif;
  margin:0;
  padding:0 0 .5em;
	color:#54595D;
	font-weight: bold;
	line-height: 1;
}

#dialog p, li {
font-size: .875em;
padding: 0 0 .25em 0;
margin:0;
line-height: 1.5;
color:#222;
}

#dialog-main {
  padding:1em 0;
  margin:0 1em;
}

/*Topic styles*/
.topicGroup: {
}

.topicHeader{
  font-size: 16px;
  font-family: 'Helvetica', Arial, sans-serif;
  color:#222;
  padding: 16px 0px;
}

.selectAllTopics {
  color: #36c;
  text-align: right;
  display: block;
  padding: 0 8px;
  margin-top: -18px;
  font-size: 14px;
}

.selectAllTopicsRTL {
  color: #36c;
  text-align: left;
  display: block;
  padding: 0 8px;
  margin-top: -18px;
  font-size: 14px;
}
/* Checkbox restyled */
/* The checkbox container */
.container {
  display: inline-block;
  position: relative;
  padding: 0px;
  margin: 0PX 0PX 24PX 0PX;
  font-size: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0px;
  right: 8px;
  height: 16px;
  width: 16px;
  background-color: transparent;
}

/* On mouse-over, add a grey background color */
.container input ~ label {
  padding: 8px 20px;
  border: solid 1px #A2A9B1;
  border-radius: 20px;
}
.container input:checked ~ label {
  border-color:#2A4B8D!important;
  padding: 8px 30px 8px 10px;
  background-color: #EAF3FF;
}
.container:hover, .container input ~ label:hover {
  background-color: #EAF3FF;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #EAF3FF;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 0px;
  width: 4px;
  height: 10px;
  border: solid #2A4B8D;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



/* Global and Vector styles */


h1, h2, h3, h4, h5, h6 {
    color: #222;
    background: none;
    margin: 0;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
}

body{
  font-family: 'Helvetica', Arial, sans-serif;
}

button {
	border:none;
	margin:0;
	padding:0;
}
