@keyframes play45 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -900px 0px;
  }
}
.shapeshifter {
  animation-duration: 3000ms;
  animation-timing-function: steps(45);
  animation-iteration-count:infinite;
  width: 20px;
  height: 20px;
  background-image: url(livebroadcast-anim.svg);
  background-repeat: no-repeat;
}
.shapeshifter.play {
  animation-name: play45;
}
